<app-nav></app-nav>
<div class="learn-details p-6" *ngIf="!loading; else loadingTemplate">
  <h1 class="text-3xl font-bold">{{ lesson.name }}</h1>
  <p class="mt-4">{{ lesson.description }}</p>
  <p class="mt-2">Thời gian: {{ lesson.duration }} phút</p>

  <!-- Từ vựng -->
  <h2 class="text-2xl font-semibold cursor-pointer" (click)="toggleVocabulary()">
    Từ vựng
    <span class="ml-2" [ngClass]="{ 'rotate-180': vocabExpanded }">▼</span>
  </h2>
  <ul class="list-disc pl-6 mt-2" *ngIf="vocabExpanded">
    <li *ngFor="let vocab of lesson.vocabulary">
      <strong>{{ vocab.word }}:</strong>
      <span class="italic"> {{ vocab.meaning }} </span>
      <span class="text-gray-500"> [{{ vocab.pronunciation }}]</span>
      <p class="mt-1">
        <em>Ví dụ: {{ vocab.example }}</em>
      </p>
    </li>
  </ul>
  <div class="action-buttons">
    <a class="w-40" [routerLink]="['/vocabulary']" [queryParams]="{ courseId: lesson.courseId, lessonId: lessonId }">
      Học từ vựng
    </a>

  </div>

  <!-- Ngữ pháp -->
  <h2 class="text-2xl font-semibold cursor-pointer" (click)="toggleGrammar()">
    Ngữ pháp
    <span class="ml-2" [ngClass]="{ 'rotate-180': grammarExpanded }">▼</span>
  </h2>
  <ul class="list-disc pl-6 mt-2" *ngIf="grammarExpanded">
    <li *ngFor="let grammar of lesson.grammar">
      <strong>{{ grammar.name }}</strong>
    </li>
  </ul>
  <div class="action-buttons">
    <a class="w-40" [routerLink]="['/grammar']" [queryParams]="{ courseId: lesson.courseId, lessonId: lessonId }">Học Ngữ Pháp</a>
  </div>

  <!-- Bài tập -->
  <h2 class="text-2xl font-semibold cursor-pointer" (click)="toggleTasks()">
    Bài tập
    <span class="ml-2" [ngClass]="{ 'rotate-180': tasksExpanded }">▼</span>
  </h2>
  <ul class="list-disc pl-6 mt-2" *ngIf="tasksExpanded">
    <li *ngFor="let task of lesson.tasks">
      <strong>{{ task.name }}</strong>
      <p>{{ task.description }}</p>
      <p class="text-gray-500">Thời gian: {{ task.duration }} phút</p>
    </li>
  </ul>
  <div class="action-buttons">
    <a class="w-40" [routerLink]="['/task']" [queryParams]="{ courseId: lesson.courseId, lessonId: lessonId }">Làm Bài Tập</a>
  </div>
  <button class="header-section">
    <a class="w-40" [routerLink]="['/course', lesson.courseId]" class="back-btn">Quay lại</a>
  </button>
</div>



<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>

<div *ngIf="errorMessage" class="text-red-500">
  {{ errorMessage }}
</div>
