<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-4">
    <li>
      <a routerLink="/admin/users" class="text-white hover:text-gray-300">Quản Lý Người Dùng</a>
    </li>
    <li>
      <a routerLink="/admin/courses" class="text-white hover:text-gray-300">Quản Lý Khóa Học</a>
    </li>
    <li>
      <a routerLink="/admin/vocabularies" class="text-white hover:text-gray-300">Quản lý từ vựng</a>
    </li>
    <li>
      <a routerLink="/admin/grammars" class="text-white hover:text-gray-300">Quản lý ngữ pháp</a>
    </li>
  </ul>
</nav>
