<div class="course-list p-6 bg-gray-50">
  <h1 class="text-3xl font-bold text-center mb-6">Danh Sách Khóa Học</h1>

  <!-- Hiển thị loading nếu đang tải dữ liệu -->
  <app-loading *ngIf="loading"></app-loading>

  <div
    *ngIf="!loading"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4"
  >
    <div
      *ngFor="let course of courses"
      class="bg-white shadow-md rounded-lg p-4 transition-transform transform hover:scale-105"
    >
      <h2 class="text-xl font-semibold text-gray-800">{{ course.name }}</h2>
      <p class="text-gray-600">{{ course.description }}</p>
      <img
        [src]="course.avatar"
        alt="{{ course.name }}"
        class="w-full h-32 object-cover rounded mt-2"
      />
      <a
        [routerLink]="['/course', course.id]"
        class="btn mt-4 inline-block px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
        >Xem Chi Tiết</a
      >
    </div>
  </div>

  <div
    class="pagination flex justify-center items-center mt-6 space-x-2"
    *ngIf="!loading"
  >
    <button
      (click)="previousPage()"
      [disabled]="currentPage === 1"
      class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400 disabled:opacity-50"
    >
      Trước
    </button>
    <span class="text-lg">Trang {{ currentPage }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage * limit >= totalRecords"
      class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400 disabled:opacity-50"
    >
      Sau
    </button>
  </div>
</div>
